<nav>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <ul>
                <span><a [routerLink]="['/']">Tabla de Api</a></span>
                <span><a [routerLink]="['/comunicacion']">Comunicacion</a></span>
                <span><a [routerLink]="['/form1']">Form-1</a></span>
                <span><a [routerLink]="['/form2']">Form-2</a></span>
                <span><a [routerLink]="['/password']">Password</a></span>
                <span><a [routerLink]="['/people-list']">Lista de Gente</a></span>
                <span><a [routerLink]="['/semaforo']">Semáforo</a></span>
                <span><a [routerLink]="['/todos']">Tabla To Do</a></span>
                <span><a [routerLink]="['/user-card']">User Card</a></span>
            </ul>
        </mat-toolbar-row>
    </mat-toolbar>
    
</nav>